
cs3-4/.DS_Store
cs3-4/optimo-attempt-baker/.DS_Store
cs3-4/optimo-attempt-baker/__pycache__/baker_cs34_functions.cpython-36.pyc
cs3-4/optimo-attempt-baker/__pycache__/baker_cs34_SNOPT_functions.cpython-36.pyc
cs3-4/optimo-attempt-baker/__pycache__/iea37_aepcalc.cpython-36.pyc
cs3-4/optimo-attempt-baker/SNOPT_print.out
cs3-4/optimo-attempt-baker/SNOPT_summary.out
cs3-4/optimo-attempt-baker/__pycache__/iea37_aepcalc.cpython-36.pyc
